@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@400;500;600;700&display=swap");

.custom_container {
  float: none;
  max-width: 1280px;
  margin: 0 auto;
}

.banner_outer {
  background-color: #000;
  padding: 6rem 0;
}
.banner {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
